<div>
  <form #eventForm ="ngForm" (ngSubmit)="onSubmit()">
    {{ modelEvent | json }}
    <div class="form-group">
      <label for="event-name">Nombre del evento:</label>
      <input id="event-name" type="text" required [(ngModel)]="modelEvent.name" name="name" #name="ngModel"/>
      <span [ngClass]="setClass()" *ngIf="beWarn(name)">{{setMessage(name.control.errors)}}</span>
    </div>

    <div class="form-group">
      <label for="date">Fecha: (mm/dd/yyyy)</label>
      <input id="date" type="text" required appNoWeekend [(ngModel)]="modelEvent.date" name="date" #date="ngModel"/>
      <span [ngClass]="setClass()" *ngIf="beWarn(date)">{{setMessage(date.control.errors)}}</span>
    </div>

    <div class="form-group">
      <label for="time">Hora: </label>
      <input id="time" type="text" required  [(ngModel)]="modelEvent.time" name="time" #time="ngModel" />
      <span [ngClass]="setClass()" *ngIf="beWarn(time)">{{setMessage(time.control.errors)}}</span>
      
    </div>

    <div class="form-group">
      <label for="address">Dirección: </label>
      <input id="address" type="text" required  [(ngModel)]="modelEvent.location.address" name="address" #address="ngModel" />
      <span [ngClass]="setClass()" *ngIf="beWarn(address)">{{setMessage(address.control.errors)}}</span>
    </div>

    <div class="form-group">
      <label for="city">Ciudad: </label>
      <input id="city" type="text" required [(ngModel)]="modelEvent.location.city" name="city" #city="ngModel"/>
      <span [ngClass]="setClass()" *ngIf="beWarn(city)">{{setMessage(city.control.errors)}}</span>
    </div>
    
    <div class="form-group">
      <label for="country">Pais: </label>
      <input id="country" type="text" required [(ngModel)]="modelEvent.location.country" #country="ngModel" name="country"/>
      <span [ngClass]="setClass()" *ngIf="beWarn(country)">{{setMessage(country)}}</span>
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="!eventForm.valid">Guardar</button>
    <button type="button" class="btn btn-default" (click)="cancel()">Cancelar</button>
    <button type="button" class="btn btn-default" (click)="eventForm.form.reset()" >Reinicar</button>
  </form>
</div>
